<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginSuite" verbose="1">
    <test name="EobuwieTests" preserve-order="true" enabled="false">
        <classes>
            <class name="EobuwieLoginTests">
                <methods>
                    <include name="validSignUpTest" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Eobuwie Login Test" preserve-order="true" enabled="false">
        <classes>
            <class name="EobuwieLoginTests">
                <methods>
                    <parameter name="email" value="John.doe@wp.pl" />
                    <parameter name="pass" value="Password!" />
                    <include name="validLoginTest"/>
                    <include name="logoutTest" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Eobuwie Search Tests" preserve-order="true" enabled="false">
        <classes>
            <class name="EobuwieSearchTests">
                <methods>
                    <include name="simpleSearchTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Eobuwie Specify search" preserve-order="true" enabled="false">
        <classes>
            <class name="EobuwieSearchTests">
                <methods>
                    <parameter name="productID" value="0000201154120"/>
                    <include name="specifySearch"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Eobuwie basket test" preserve-order="true" enabled="true">
        <classes>
            <class name="EobuwieBasketTest">
                <methods>
                    <parameter name="fileName" value="./src/test/java/data/testfile.txt" />
                    <include name="addProductsToBasket" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
